<div style="overflow-x: hidden; min-height: 100vh;" >
    <form #form="ngForm" (ngSubmit)="saveProfile()" novalidate autocomplete="off" id="profile-form" >

    <div class="header-profile-content">
        <img [src]="profile.uploadCoverPhoto" class="back-profile-img" draggable="false" />
        <label for="coverImg" class="upload-cover-img" ><i class="fas fa-sync-alt" ></i></label>

        <img [src]="profile.uploadProfilePhoto" class="profile-img" draggable="false" />
        <label for="profileImg" class="upload-profile-img" ><i class="fas fa-sync-alt" ></i></label>
        
        <div class="profile-name-content">
          <div class="girl-name" >
            <input type="text" [(ngModel)]="profile.name" name="fname" class="profile-name" placeholder="Ejem. KarlitaLoves83"/>
            <small ><i class="fa fa-heart-o" style="color: rgb(255, 97, 123);"></i> 1,356</small>
          </div>

          <ng-select
            [items]="[{id: 1, name: 'CDMX'}, {id: 2, name: 'Monterrey'}, {id: 3, name: 'Guadalajara'}]"
            [multiple]="false"
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="id"
            name="fcity"
            class="custom"
            placeholder="Selecciona una ciudad"
            notFoundText="No se encontraron ciudades."
            [(ngModel)]="profile.city" >
          </ng-select>
        </div>

        <div style="visibility: hidden; width: 0px; height: 0px;">
          <input type="file" id="profileImg" (change)="uploadProfilePhoto($event)" accept="image/*" capture="camera" />
          <input type="file" id="coverImg" (change)="uploadCoverPhoto($event)" accept="image/*" capture="camera" />
        </div>
    </div>
    

    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="detail-col" >
        <div class="profile-panel" >          
         
          <div class="list-item" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Nacionalidad: </span>
            <ng-select
                [items]="nationalities"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="false"
                bindLabel="Description"
                name="fnationality"
                class="custom2"
                placeholder="Selecciona una nacionalidad"
                notFoundText="No se encontraron nacionalidades."
                [(ngModel)]="profile.nationality" >
            </ng-select>
          </div>
          <div class="list-item" >
            <span>Edad: </span>
            <input type="text" [(ngModel)]="profile.age" name="fage" sufix=" años" mask="00" class="profile-ctrl" placeholder="Ejem. 25"/>
          </div>
          <div class="list-item" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Color de Piel: </span>
            <ng-select
                [items]="colorSkin"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="false"
                bindLabel="Description"
                name="fskin"
                class="custom2"
                placeholder="Selecciona un color de piel"
                notFoundText="No se encontraron colores de piel."
                [(ngModel)]="profile.skin" >
            </ng-select>
          </div>
          <div class="list-item" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Color de Cabello: </span>
            <ng-select
                [items]="colorHair"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="false"
                bindLabel="Description"
                name="fhair"
                class="custom2"
                placeholder="Selecciona un color de pelo"
                notFoundText="No se encontraron colores de pelo."
                [(ngModel)]="profile.hair" >
            </ng-select>
          </div>

          <div class="list-item" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Color de Ojos: </span>
            <ng-select
              [items]="colorEyes"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="false"
              bindLabel="Description"
              name="feyes"
              class="custom2"
              placeholder="Selecciona un color de ojos"
              notFoundText="No se encontraron colores de ojos."
              [(ngModel)]="profile.eyes" >
            </ng-select>
          </div>
          <div class="list-item" >
            <span>Medidas: </span>
            <input type="text" [(ngModel)]="profile.figure" name="ffigure" class="profile-ctrl" placeholder="Ejem. 90-60-100" />
          </div>
          <div class="list-item" >
            <span>Altura: </span>
            <input type="text" [(ngModel)]="profile.height" name="fheight" sufix=" mts." mask="0.00" class="profile-ctrl" placeholder="Ejem. 1.68"/>
          </div>
          <div class="list-item" >
            <span>Peso: </span>
            <input type="text" [(ngModel)]="profile.weight" name="fweight" sufix=" kg." mask="900" class="profile-ctrl" placeholder="Ejem. 61"/>
          </div>
          <div class="list-item" >
            <span>Zonas: </span><br>
            <tag-input [(ngModel)]='profile.zones' name="fzones" #fzones="ngModel" required placeholder="Ejem. Polanco, Santa fe" secondaryPlaceholder="Ejem. Polanco, Santa fe" theme="dark" >
              <tag-input-dropdown [autocompleteItems]="zonesSource" [showDropdownIfEmpty]="false" ></tag-input-dropdown>
            </tag-input>
          </div>
          <div class="list-item" >
            <span>Teléfono: </span>
            <input type="text" [(ngModel)]="profile.phone" name="fphone" mask="(00) 0000-0000" class="profile-ctrl" placeholder="Ejem. (55) 2738-0873"/>
          </div>
          <div class="list-item" >
            <span>Twitter: </span>
            <input type="text" [(ngModel)]="profile.twitter" name="ftwitter" class="profile-ctrl" placeholder="https://twitter.com"/>
          </div>
          <div class="list-item" >
            <span>Instagram: </span>
            <input type="text" [(ngModel)]="profile.instagram" name="finstagram" class="profile-ctrl" placeholder="https://instagram.com"/>
          </div>

          <!--ng-template #popTemplate>
              <input type="text" [(ngModel)]="profile.twitter" name="ftwitter" class="profile-ctrl" placeholder="Ejem. https://twitter.com" style="height: 40px; width: 200px; text-align: left;"/>
          </ng-template>

          <div style="display: flex; justify-content: center; align-items: center; padding: 20px 0px;">
            <span style="margin-right: 25px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 25px; border: 2px solid #fff; border-radius: 10px; background: #25d366;"><i class="fa fa-whatsapp"></i></span>
            <span style="margin-right: 25px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 25px; border: 2px solid #fff; border-radius: 10px; background: #55ACEE;" ><i class="fa fa-twitter"></i></span>
            <span style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 25px; border: 2px solid #fff; border-radius: 10px; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);"><i class="fa fa-instagram"></i></span>
            
          </div-->  
          
        </div>
  
        <div class="profile-panel" style="margin-top: 10px;" >
          <div class="section-title" style="text-align: center;">
            <span style="border-bottom: 4px solid #FD297B;">Comentarios</span>
          </div>
  
          <div style="max-height: 500px; overflow-y: auto; margin-bottom: 50px;">
            <div class="list-item" style="background: #252525;">
              <div>
                <span style="font-weight: bolod;">Arthur</span>
                <div style="float: right; color: #FD297B;">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <span style="font-size: 14px;">Pocas mujeres tan sexis me han tocado en mi vida, Dominga super buena onda, rica, sexy, cachonda, la verdad que bueno que anda de gira.</span>
            </div>
    
            <div class="list-item" style="background: #252525;">
              <div>
                <span style="font-weight: bolod;">Moy</span>
                <div style="float: right; color: #FD297B;">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart-o"></i>
                </div>
              </div>
              <span style="font-size: 14px;">Fue una experiencia increible Lucero se porto super linda, sin duda alguna recomendadisima para cualquiera que quiera divertise.</span>
            </div>
    
            <div class="list-item" style="background: #252525;">
              <div>
                <span style="font-weight: bolod;">Fer</span>
                <div style="float: right; color: #FD297B;">
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <span style="font-size: 14px;">Pocas mujeres tan sexis me han tocado en mi vida, Dominga super buena onda, rica, sexy, cachonda, la verdad que bueno que anda de gira, porque si viviera en mi ciudad, ya estaria yo en la calle….</span>
            </div>
  
            <div class="list-item" style="background: #252525;">
                <div>
                  <span style="font-weight: bolod;">Javidu</span>
                  <div style="float: right; color: #FD297B;">
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
                <span style="font-size: 14px;">Fue una experiencia increible Lucero se porto super linda, sin duda alguna recomendadisima para cualquiera que quiera divertise.</span>
              </div>
          </div>
          
          <!--div style="display: flex; justify-content: center; margin: 25px 0px;">
            <button class="comments-btn" >Agregar comentario</button>
          </div-->
  
        </div>
        
      </div>
  
      <div class="galery-col" >
  
        <div style="display: flex; justify-content: center;">
          <div class="profile-tabs" [ngClass]="{ 'active': tab == 'detail' }" (click)="tab = 'detail'" style="border-radius: 10px 0px 0px 0px;">Detalle</div>
          <div class="profile-tabs" [ngClass]="{ 'active': tab == 'galery' }" (click)="tab = 'galery'" style="border-radius: 0px 10px 0px 0px;" >Galeria</div>
        </div>
  
        <div class="profile-panel" style="border-radius: 0px 0px 10px 10px; padding: 20px;" [hidden]="tab != 'detail'">
          
          <div class="section-title" >
            <span style="border-bottom: 4px solid #FD297B;"><i class="fas fa-user"></i> Sobre mi</span>
            <div class="phone-content">
              <i class="fas fa-mobile-alt" ></i> 
              <input type="text" [(ngModel)]="profile.phone" name="fphone2" mask="(00) 0000-0000" class="phone-ctrl" placeholder="Ejem. (55) 6473-8463"/>
            </div>
            <div class="clearfix"></div>
          </div>
  
            
          <div style="margin: 50px 0px;">
            <textarea rows="6" [(ngModel)]="profile.description" name="fdescription" class="description-ctrl" placeholder="Ejem. Hola soy KarlitaLoves83 soy una chica muy linda ....."></textarea>
            <!--Hola soy sofia una hermosa venezolana que esta en la Ciudad de México lista para consentirte y complacerte en tus deseos mas íntimos mi amor, tengo un hermoso cuerpo , senos grandes y culo grande con una cinturita , mis servicios son Sexo vaginal , anal y oral al natural dependiendo la higiene, soy una chica super discreta y chevere, me gusta ser muy limpia, mido 170  y mi peso es de 69 , veras que conmigo disfrutaras cada momento lleno de erotismo y placer, te lo haré  bien rico para que así vuelvas a mis brazos, te demostrare como las Venezolanas lo hacemos, te esperare super cachondita. Atiendo en Hoteles o voy a tu domicilio , como tu prefieras.-->
          </div>
          
          <div class="section-title" >
            <span style="border-bottom: 4px solid #FD297B;"><i class="fas fa-fire-alt"></i> Servicios</span>
            <div class="clearfix"></div>
          </div>

          <div style="display: flex; align-items: center;">
            <ng-select
                [items]="services"
                [multiple]="false"
                [closeOnSelect]="true"
                bindLabel="Description"
                name="fservice"
                class="custom3"
                placeholder="Selecciona un servicio"
                notFoundText="No se encontraron servicios."
                [(ngModel)]="service" >
            </ng-select>

            <button type="button" (click)="addService()" class="profile-btn" >Agregar</button>
          </div>
          
  
          <div style="margin: 50px 0px;">
            <span class="tag" *ngFor="let service of profile.services; let i = index;">{{ service.Description }} <i class="fa fa-times" style="color: #fff;" (click)="removeService(i)"></i></span>
          </div>
        
          <div class="section-title" >
            <span style="border-bottom: 4px solid #FD297B;"><i class="far fa-credit-card"></i> Tarifas</span>
            <div class="clearfix"></div>
          </div>
  
            
          <div style="margin: 50px 0px;">
            <div class="list-item">
              <span>1 hora: </span>

              <input type="text" [(ngModel)]="profile.price1" name="fprice1" prefix="$ " mask="comma_separator.0" class="price-ctrl" placeholder="Ejem. $ 1,800"/>
            </div>
            <div class="list-item">
              <span>2 horas: </span>
              <input type="text" [(ngModel)]="profile.price2" name="fprice2" prefix="$ " mask="comma_separator.0" class="price-ctrl" placeholder="Ejem. $ 2,500"/>
            </div>
            <div class="list-item">
              <span>3 horas: </span>
              <input type="text" [(ngModel)]="profile.price3" name="fprice3" prefix="$ " mask="comma_separator.0" class="price-ctrl" placeholder="Ejem. $ 3,500"/>
            </div>
            <div class="list-item">
              <span>Toda la Noche: </span>
              <span style="float: right;">A coordinar</span>
            </div>
            <div class="list-item">
              <span>Fin de semana: </span>
              <span style="float: right;">A coordinar</span>
            </div>
            <div class="list-item">
              <span>Viajes: </span>
              <span style="float: right;">A coordinar</span>
            </div>
          </div>
          
          <div class="info-content" id="important" style="margin: 25px 0px;">
            <span class="info-mark" >AVISO IMPORTANTE</span><br><br>
            <span class="info-mark">LuceroHot</span> ha firmado una carta consentimiento y un convenio de publicidad en el que manifiesta ser una <span class="info-mark">modelo 100% independiente</span>, acredita ser <span class="info-mark">mayor de 18 años</span> en pleno uso de sus facultades físicas y mentales, permitiendo a <span class="info-mark">Diablitas</span> publicar el material fotográfico que le hace llegar y no está siendo obligada, amenazada ni sometida por ninguna persona, siendo <span class="info-mark">LuceroHot</span>  la única responsable de la finalidad y los encuentros que llegara a tener con las personas que la contacten por este medio y por lo tanto deslinda a <span class="info-mark">Diablitas</span> y a las personas que forman parte de esta página de cualquier problema legal ocasionado con el anuncio.
          </div>
    
        </div>
  
        <div [hidden]="tab != 'galery'" style="background: #101010;">
  
  
          <div class="section-title" style="color: #fff; padding: 20px; margin: 0; overflow: hidden;" >
            <span style="border-bottom: 4px solid #FD297B;"><i class="fas fa-video"></i> Videos</span>
            <button type="button" class="add-btn"><label style="margin: 0px;" for="videos"><i class="fas fa-plus"></i> Agregar</label></button>
          </div>

          <input type="file" id="videos" (change)="uploadVideo($event)" style="visibility: hidden; width: 0px; height: 0px;" accept="video/*" capture="camera" />
  
          <div class="row" style="margin: 0px; padding: 25px 10px;">
            <div class="col-md-4" style="padding: 5px;" *ngFor="let video of profile.videos; let i = index;">
              <div class="galery-content" >
                <label (click)="removeVideo(i)" class="remove-video-icon" ><i class="fas fa-times" ></i></label>
              
                <video height="200" controls >
                  <source [src]="video.video" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
            </div>

            <div *ngIf="!profile.videos || profile.videos.length < 1" style="text-align: center; color: #fff;">
              <span style="font-size: 70px;"><i class="fas fa-ban"></i></span><br>
              <h3 >No hay videos para mostrar</h3>
            </div>

          </div>
  
          <div class="section-title" style="color: #fff; padding: 20px; margin: 0;" >
            <span style="border-bottom: 4px solid #FD297B;"><i class="fas fa-camera-retro"></i> Fotografías</span>
            <button type="button" class="add-btn"><label style="margin: 0px;" for="photos"><i class="fas fa-plus"></i> Agregar</label></button>
          </div>

          <input type="file" id="photos" (change)="uploadPhoto($event)" style="visibility: hidden; width: 0px; height: 0px;" accept="image/*" capture="camera" />
  
          <div class="row" style="margin: 0px; padding: 25px 10px;">
            <div class="col-xs-6 col-md-4" style="padding: 5px;" *ngFor="let photo of profile.photos; let i = index;">
              <div class="galery-content" >
                  <label (click)="removePhoto(i)" class="remove-img-icon" ><i class="fas fa-times" ></i></label>
                  <img [src]="photo.img" class="galery-img" draggable="false" (click)="openModalPhotos(i)" />
              </div>
            </div>

            <div *ngIf="!profile.photos || profile.photos.length < 1" style="text-align: center; color: #fff;">
              <span style="font-size: 70px;"><i class="fas fa-ban"></i></span><br>
              <h3 >No hay fotografías para mostrar</h3>
            </div>
  
          </div>
  
  
          <div class="info-content" id="important2" style="margin: 25px 0px; padding-bottom: 50px;">
            <span class="info-mark" >AVISO IMPORTANTE</span><br><br>
            <span class="info-mark">LuceroHot</span> ha firmado una carta consentimiento y un convenio de publicidad en el que manifiesta ser una <span class="info-mark">modelo 100% independiente</span>, acredita ser <span class="info-mark">mayor de 18 años</span> en pleno uso de sus facultades físicas y mentales, permitiendo a <span class="info-mark">Diablitas</span> publicar el material fotográfico que le hace llegar y no está siendo obligada, amenazada ni sometida por ninguna persona, siendo <span class="info-mark">LuceroHot</span>  la única responsable de la finalidad y los encuentros que llegara a tener con las personas que la contacten por este medio y por lo tanto deslinda a <span class="info-mark">Diablitas</span> y a las personas que forman parte de esta página de cualquier problema legal ocasionado con el anuncio.
          </div>
  
        </div>
  
      </div>
      <input type="submit" id="submit-btn" style="visibility: hidden; pointer-events: none;">
    </div>
    </form>
  
  
    <div class="icon-bar">
      <a href="javascript: void(0)" class="important" (click)="goToImportant()"><i class="fas fa-exclamation-triangle"></i></a> 
      <a href="javascript: void(0)" class="twitter" (click)="submit()"><i class="fa fa-twitter"></i></a> 
      <a href="javascript: void(0)" class="instagram"><i class="fa fa-instagram"></i></a>
    </div>
  
    
  </div>
  
  
  <div class="modal fade" role="dialog" id="edit-photo">
    <div class="modal-dialog" >
      <div class="modal-content">
       
        <div class="modal-body" style="padding: 0px;">
  
          <div id="carrusel" style="position: relative;">
            <button type="button" data-dismiss="modal" style="position: absolute; top: 5px; right: 5px; background: transparent; border: none; font-size: 22px; padding: 5px 10px;"><i class="fa fa-times" style="color: #fff;"></i></button>
            <img [src]="img" draggable="false" class="c-img" />
  
            <button type="button" class='left-banner' (click)="prevImg()"><i class="fa fa-angle-left"></i></button>
            <button type="button" class='right-banner' (click)="nextImg()"><i class="fa fa-angle-right"></i></button>
  
            <div style="text-align: center; padding: 10px 0px;">
              <span *ngFor="let photo of profile.photos; let i = index;" >
                <span class="dot" [ngClass]="{ 'active-dot': currentIndex == i }" (click)="img = modelPhotos[i].img; currentIndex = i;"></span>
              </span>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>