.sidebarContent {
    color: #fff;
}

.sidebarContent > span {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    background: #1D1F20;
    margin-bottom: 25px;
}

.sidemenu {
    margin-top: 25px;
}

.sidemenu a {
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 250;
    letter-spacing: 2px;
}

.sidemenu a:active {
    background: rgba(85, 85, 85, 0.5);
}

.icon {
    color:#FD297B;
}

.app-name {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 25px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 250;
    letter-spacing: 2px;
    background: #101010;
}

.app-name span {
    border-bottom: 3px solid #FD297B;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
    background: #101010;
    padding: 5px 0px;
}